<!DOCTYPE html>
<html>
	<head>
		<title>colling</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="static/css/Home.css">
		<link rel="stylesheet" href="static/w3css/w3.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="static/js/jquery.min.js"></script>
		<script src="static/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
.gallery {
    border: 1px solid white;
  
}

.gallery:hover {
    border:1px solid red;
}
.affix {
		  top:0;
		  width: 100%;
		  z-index: 9999 !important;
		  height:60px;
	  }
</style>


	</head>	  
	    <body data-spy="scroll" data-target=".navbar" data-offset="50">
	<div>
		<div class="row">
		    <div class="col-sm-3 w3-center">
				 <img src="static/img/logo.jpg" width="50%">
			</div>
            <div class="col-sm-9 w3-left">
				 <img src="static/img/SprajoName.jpg" width="68%" style="padding-top:18px; padding-left:15px;">
			</div>
    
        </div>
	<br>	    
			
	<div>
		<nav class="navbar navbar-inverse "  data-spy="affix" data-offset-top="150" style="margin-bottom:0px">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
		<a class="navbar-brand tabs" href="#" style="color:white;padding:18px;font-size:18px;">MENU</a>
		</div>
		<div class="collapse navbar-collapse menu " id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li class="tabs"><a href="/index" style="color:white; padding:18px;font-size:18px;">
				<span class="glyphicon glyphicon-home"></span></a></li>
				
				<li class="tabs"><a href="/product" style="color:white;padding:18px;font-size:18px;">PRODUCTS</a></li>
				<li class="tabs"><a href="/services" style="color:white;padding:18px;font-size:18px;">SERVICES</a></li>
				<li class="tabs"><a href="#" style="color:white;padding:18px;font-size:18px;">ABOUT US</a></li>
				<li class="tabs"><a href="#" style="color:white;padding:18px;font-size:18px" >CONTACT US</a></li>
				
			</ul>
			
		</div>
		</nav>
		</div>	  
		  
		  
		<div class="container-fluid">
            <div class="row">
			<h2 class="w3-center" style="color:#cc0000;"><b>Cold Storage Plant</b></h2><br>
                <div class="col-sm-4 w3-center">
				    <img src="static/img/refridgerated-doors.jpg" width="70%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Cold Storage Room</h4><br>
				    <img src="static/img/coldstorage.jpg" width="70%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Cold Storage Plant</h4><br>
				</div>
				
                <div class="col-sm-8" style="padding:10px;">
				
				<p class="sagar"> The storage of fruits, vegetables, and certain other products, <b>cold-storage facilities</b> are built that contain rooms in which, along with the required temperature and humidity conditions, an atmosphere consisting of air with a specific gas composition is maintained. Such an atmosphere is a controlled gaseous medium containing more nitrogen or carbon dioxide than ordinary air; this makes it possible to prolong the storage of products, improve the quality of stored products, and reduce the losses incurred during storage.  In addition to general-purpose cold-storage facilities, which are intended for the storage of a wide variety of products, specialized cold-storage facilities are built for the storage of such products as fruits, vegetables, eggs, and salted fish.

Cold-storage facilities contain refrigerated rooms maintained at various temperatures. The air temperature ranges from 4&#x2103 to &#x2212 5&#x2103 in cold-storage rooms, from &#x2212 20&#x2103 to &#x2212 30&#x2103 in frozen food storage rooms, from 0 &#x2103 to &#x2212 30 &#x2103 in general purpose storage rooms, down to &#x2212 10&#x2103 in cooling rooms, and from &#x2212 30 &#x2103 to &#x2212 40 &#x2103 in freezer rooms. All such refrigerated rooms have insulated doors.</p>	
	<br>
	<br>
	<h4 style="font-weight:bold;color:#661166;margin-top:0px;">Features:</h4>
				<ul class="sagar">
				<li>A Range of Uses</li>
				<li>Customisable sizes and settings</li>
				<li>Freeing up space</li>
				<li>Backup Capabilities and Accessibility</li>
				<li>Saving Money</li>
				</ul>				
				</div>
           </div>
	<hr>
		<div class="row">
			<h2 class="w3-center" style="color:#cc0000;"><b>Panel Air Conditioners</b></h2><br>
			    <div class="col-sm-4 w3-center">
				    <img src="static/img/panelac.jpg" width="70%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Panel AC</h4><br>
				</div>
				
                <div class="col-sm-8" style="padding:10px;">
				<p class="sagar"> <b>Industrial Panel Air Conditioners</b> is used to break up heat generated by AC/DC Drives, Electrical/Electronic components inside a control panel. They are widely used in several industries like pharmaceutical, food processing, engineering and much more. We are offering premium quality Panel Air Conditioners. Our offered air conditioners are manufactured using high grade components and sophisticated technology in line with the industry standards. The provided air conditioners are checked on different quality parameters so as to maintain their quality. Besides, customers can avail these conditioners from us at nominal prices.</p>
				<h4 style="font-weight:bold;color:#661166;margin-top:0px;">Features:</h4>
				<ul class="sagar">
				<li>High efficiency</li>
				<li>Robust construction</li>
				<li>Easy to operate</li>
				<li>Overload protection</li>
				<li>Trouble free performance</li>
				</ul>	
				</div>
		</div>
    <hr>
		<div class="row">
			<h2 class="w3-center" style="color:#cc0000;"><b>Chillers</b></h2><br>
			    <div class="col-sm-4 w3-center">
				    <img src="static/img/waterchiller.jpeg" width="70%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Water Chiller</h4><br>
					<img src="static/img/Industrial-Oil-Chiller.jpg" width="70%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Oil Chiller</h4><br>
				</div>
				
                <div class="col-sm-8" style="padding:10px;">
				<p class="sagar">A <b>water chiller</b> is a mechanical device used to facilitate heat exchange from water to a refrigerant in a closed loop system. The refrigerant is then pumped to a location where the waste heat is transferred to the atmosphere. Chilled water is used to cool and dehumidify air in mid- to large-size commercial, industrial, and institutional facilities. Water chillers can be water-cooled, air-cooled, or evaporatively cooled. Water Cooled Chiller Using Industries:Plastic Industry,Medical Industry,Rubber Industry,Printing Industry,Laser Industry,Beverage Industry and RO Plants. </p>
				<h4 style="font-weight:bold;color:#661166;margin-top:0px;">Features:</h4>
				<ul class="sagar">
				<li>Extensive Product Lineup</li>
				<li>Large Capacity</li>
				<li>Outstanding Durability</li>
				<li>Versatility</li>				
				</ul>
				<p class="sagar">The <b>oil chiller</b> is a unit which performs cooling of the hydraulic oil, lubricating oil and cooling oil of machine tools. In various parts of the machine tool spindles the bearings and gears get overheated and thermal deformation occurs due to the high speed rotational impact.The hot engine transfers heat to the oil which then usually passes through a heat-exchanger.Oil chillers are widely used for some typical industrial applications like machine tools, cutting machine, plastic injection molding machine, grinding machine, CNC machine, low-speed electric spindle, hydraulic presses, and hydraulic stations, lubrication stations, electrical discharge machine, lubrication and cooling system of the gearbox.  </p>
				<h4 style="font-weight:bold;color:#661166;margin-top:0px;">Features:</h4>
				<ul class="sagar">
				<li>Provide accurate temperature control</li>
				<li>A complete line of all models</li>
				<li>temperature stability</li>								
				</ul>
				</div>
		</div>
	<hr>
		<div class="row">
			<h2 class="w3-center" style="color:#cc0000;"><b>Freezer and VC Cooler</b></h2><br>
			<p class="sagar" style="padding-left:30px;padding-right:30px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspA <b>deep freezer</b> uses much lower temperatures, often in excess of 20 degrees below 0 and colder in commercial units but always below 0*F. The extreme cold is to freeze the food within minutes to insure the least amount of freezer damage from ice crystals forming in the product and preserve nutrients better and longer. freezer works by compressing, condensing, and evaporating a refrigerant gas to absorb the heat out of the items being frozen.</p>  
		    <p class="sagar" style="padding-left:30px;padding-right:30px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspA <b>visi cooler</b> is a medium temperature refrigeration appliance, generally used for cooling bottles containing cool drinks and other. liquids. It generally cools the liquids to about 20C to 40C.</p>    
	<br>			
				<div class="col-sm-3 w3-center">
				    <img src="static/img/deep-freezer.jpg" width="85%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Deep Freezer</h4><br>				
				</div>
				<div class="col-sm-3 w3-center">
				    <img src="static/img/visi-cooler.jpg" width="85%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">VC Cooler</h4><br>				
				</div>
                <div class="col-sm-3 w3-center">
				    <img src="static/img/Chest-Freezer.jpg" width="90%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Chest Freezer</h4><br>				
				</div>
                <div class="col-sm-3 w3-center">
				    <h4 style="font-weight:bold;color:#661166;margin-top:0px;">Features:</h4>
				    <ul class="sagar">
				    <li>UV protected galvanised sheets for interior and exterior</li>
				    <li>Adjustable plastic-coated wire mesh shelves</li>
				    <li>Energy-effi­cient cooling unit</li>
				    <li>Clear product visibility with dual glass</li>
					<li>Tested for higher ambient and outdoor conditions</li>
				    </ul>  				
				</div>				
		</div>	
		
		
		
		
        </div>
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  <div class="panel-footer" style="color:white;background-color:#004d4d;">
		<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 footer" style="border-right:none">
				<u>Quick Links:</u><br>
				<a href="/index" class="flinks" style="color:white">Home</a><br>
				<a href="#" class="flinks" style="color:white">Contact Us</a><br>
				<a href="#" class="flinks" style="color:white">About Us</a>
			</div>
			<div class="col-sm-5 footer" style=""><u>Address:</u><br>
			<p>SPRAJO UNITECH <br>
			Gandharva Excellence &nbsp&nbsp&nbsp&nbsp&nbsp <br>
			Moshi,Pune-412105
	        </p>
			</div>
			<div class="col-sm-5 footer" style="">
			<a href="#" style="color:white;"></u>Contact Us:</u><br></a>
			sales@sprajounitech.com &nbsp&nbsp|&nbsp&nbsp&nbsp <br>
			Call Us:8888819296 &nbsp&nbsp<br>
			Monday-Saturday, 9:00am-6:00pm
			</div>
	
		</div>
	</div>	
	</div>		 
		  
	</div>	  
		  </body>