<!DOCTYPE html>
<html>
	<head>
		<title>Machinary products</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="static/css/Home.css">
		<link rel="stylesheet" href="static/w3css/w3.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="static/js/jquery.min.js"></script>
		<script src="static/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<style>	
.gallery {
    border: 1px solid white;
  
}

.gallery:hover {
    border:1px solid red;
}
.affix {
		  top:0;
		  width: 100%;
		  z-index: 9999 !important;
		  height:60px;
	  }
</style>
	</head>	  
	    <body data-spy="scroll" data-target=".navbar" data-offset="50">
	<div>
		<div class="row">
		    <div class="col-sm-3 w3-center">
				 <img src="static/img/logo.jpg" width="50%">
			</div>
            <div class="col-sm-9 w3-left">
				 <img src="static/img/SprajoName.jpg" width="68%" style="padding-top:18px; padding-left:15px;">
			</div>
    
        </div>
	<br>	    
			
	<div>
		<nav class="navbar navbar-inverse "  data-spy="affix" data-offset-top="150" style="margin-bottom:0px">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
		<a class="navbar-brand tabs" href="#" style="color:white;padding:18px;font-size:18px;">MENU</a>
		</div>
		<div class="collapse navbar-collapse menu " id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li class="tabs"><a href="/index" style="color:white; padding:18px;font-size:18px;">
				<span class="glyphicon glyphicon-home"></span></a></li>
				
				<li class="tabs"><a href="/product" style="color:white;padding:18px;font-size:18px;">PRODUCTS</a></li>
				<li class="tabs"><a href="/services" style="color:white;padding:18px;font-size:18px;">SERVICES</a></li>
				<li class="tabs"><a href="#" style="color:white;padding:18px;font-size:18px;">ABOUT US</a></li>
				<li class="tabs"><a href="#" style="color:white;padding:18px;font-size:18px" >CONTACT US</a></li>
				
			</ul>
			
		</div>
		</nav>
		</div>	  
		  
		  
	<div class="container-fluid">
	        <div class="row">
			<h2 class="w3-center" style="color:#cc0000;"><b>FUME EXTRACTOR /MIST COLLECTOR</b></h2><br>
                <div class="col-sm-4 w3-center">
				    <img src="static/img/mist collector.jpg" width="70%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Fumex</h4><br>
				</div>
               
			   <div class="col-sm-8" style="padding:10px;">
			   
			   <p class="sagar"> <b>Mist collector/Fume extractor</b>is a machine used for removing fumes/mist for air such as processed CNC,VMC,HMC,VTL,GRINDING and other all machining process.fume extratorsis available in various capacity according to machine sizes & needs. by using centrifugal force heavy flowing Fumes / mist air towards multistage filters.Provision of Collection path for removing of mist oil / liquid. </p>	
				<h4 style="font-weight:bold;color:#661166;margin-top:0px;">Features:</h4>
				<ul class="sagar">
				<li>Fumes / Mist will be remove easily by drain tube </li>
				<li>Easy to Handle, Maintain & Clean also Easy to mount on machines</li>
				<li>Protect to all surface area with Powder Coating </li>
				<li> Used standard material for manufacturing and it will be vailable in different capacity as per requirements</li>
				<li>Excellent Durability , Non-Corrosive ,High Efficiency </li>
				<li>Compact Design ,Robustness and High Tensile Strength </li>
				</ul>				
				</div>
		</div>		
	<hr> 	
	    <div class="row">
			<h2 class="w3-center" style="color:#cc0000;"><b>OIL FILTRATION MOBILE UNIT</b></h2><br>
                <div class="col-sm-4 w3-center">
				    <img src="static/img/oil filtration mobile.jpg" width="80%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Oil filtration mobile unit</h4><br>
				</div>
               
			   <div class="col-sm-8" style="padding:10px;">
			   
			   <p class="sagar"><b>Oil filtration system</b>can be used to clean most mineral oils such as hydraulic, gear, cutting, lubrication and transmission oils, many soluble oils and fluids. Without properly oil filtering / cleaning, the levels of contamination become worse and can lead to damage to machinery, engines and pumps etc. Oil filtration systems take away any risk of damage.This system 
			   is used for Injection Moulding, Heating Systems, hydraulic Plant and Machinery, CNC ,VMC, HMC, Testing Oils, Construction & Mining Equipment.</p>	
				<h4 style="font-weight:bold;color:#661166;margin-top:0px;">Features:</h4>
				<ul class="sagar">
				<li>Integrated Bypass Valve for oil dispensing</li>
				<li>Convenient to handle from one place to another due to three wheel design </li>
				<li>Hose spool for easy handling of hoses  </li>
				<li>Used standard material for manufacturing and it will be vailable in different capacity as per requirements</li>
				<li>Easy & cost effective to replace filters </li>
				<li>Integrated clog indicator for filters </li>
				</ul>				
				</div>
		</div>	
	<hr>
	<div class="row">
			<h2 class="w3-center" style="color:#cc0000;"><b>OIL SKIMMER</b></h2><br>
                <div class="col-sm-4 w3-center">
				    <img src="static/img/mist collector.jpg" width="70%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Fumex</h4><br>
				</div>
               
			   <div class="col-sm-8" style="padding:10px;">
			   
			   <p class="sagar"> <b>Oil skimmers</b> are pieces of equipment that remove oil floating on the surface of a unwanted fluid.There are two basic types of oil skimmers. One type is used to filter and remove oil, debris, and unwanted materials. The other type is used to recover or capture oil in a usable state. Applications for oil skimmers include in-plant pumps, tanks, and coolant systems as well as outdoor cooling and settling ponds.Belt skimmers run through a contaminated liquid continuously, using a belt to pick up the oil.</p>	
				<h4 style="font-weight:bold;color:#661166;margin-top:0px;">Features:</h4>
				<ul class="sagar">
				<li>Easy to Handle, Maintain & Clean </li>
				<li>Excellent Durability and Non-Corrosive </li>
				<li>3 Difference Compartments are available for oil removing </li>
				<li>High Efficiency ,Compact Design ,Robustness </li>
				<li>Protect to all surface area with Powder Coated </li>
				</ul>				
				</div>
		</div>		
	<hr>
            <div class="row">
			<h2 class="w3-center" style="color:#cc0000;"><b>SUMP SUCKER</b></h2><br>
                <div class="col-sm-4 w3-center">
				    <img src="static/img/sump-sucker.jpg" width="50%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Sump Sucker</h4><br>
				    <img src="static/img/sumpsucker.png" width="100%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Parts Specifications</h4><br>
				</div>
				
                <div class="col-sm-8" style="padding:10px;">
				<p class="sagar"> <b>Sump Sucker</b>is one of the independence machine which used for filtration of coolant and oil.it separate the solid particles and recycle the pure coolant in machine.this sump sucker sucks the dirty coolant with metal chips particles and store inside in tank.with filter filtration of impurity,dust,metal chipsand unwanted partcles and discharge clean fluid. it can be used for blowing air or as vacuum cleaner.sump sucker is used in CNC,VMC & Grinding machinealso used as coolant, hydraulic oil cleaner, vacuum cleaner, cutting and quenching oil,water and coolant contamination, water based emulsion.</p>	
				<br>
				<br>
				<br>
				<h4 style="font-weight:bold;color:#661166;margin-top:0px;">Features:</h4>
				<ul class="sagar">
				<li>Easy operation, handling and used in different location one by one</li>
				<li>Less time required for completion of cycle</li>
				<li>Improve the jon finishing because of clean coolant</li>
				<li>Protect form the fungal & bacterial grow in coolant</li>
				<li>Save the labour cost with improving down time</li>
				</ul>				
				</div>
           </div>
     <hr>
           <div class="row">
			<h2 class="w3-center" style="color:#cc0000;"><b>STABILIZER</b></h2><br>
                <div class="col-sm-4 w3-center">
				    <img src="static/img/refrigerator-stabilizer.jpg" width="60%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Stabilizer</h4><br>
				</div>
				
                <div class="col-sm-8" style="padding:10px;">
				
				<p class="sagar"> <b>Stabilizer</b> has been designed to protect your refrigerator from power cuts or voltage fluctuations. The stabilizer comes with a built-in thermal overload protection feature that keeps it and the connected appliance safe from high temperature burnouts.</p>	
				<h4 style="font-weight:bold;color:#661166;margin-top:0px;">Features:</h4>
				<ul class="sagar">
				<li>Indicators display the voltage supply to regulate the power of the refrigerator</li>
				<li>Stabilizer can help provide that weight to a lighter, shorter bow.</li>
				<li>high voltage protection, overload protection</li>
				<li>zero voltage switching, frequency variation protection, voltage cut off display</li>
				</ul>				
				</div>
           </div>
    <hr>
	        <div class="row">
			<h2 class="w3-center" style="color:#cc0000;"><b>TROLLEY</b></h2><br>
			<div class="col-sm-4 w3-center">
				    <img src="static/img/chip-trolley.jpg" width="60%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Chip trolley</h4><br>
			</div>
				
            <div class="col-sm-8" style="padding:10px;">
				
				<p class="sagar"> <b>Chip Trolley</b> is a wheel structured trolley that is basically used for carrying Chip materials & Coolant  such as processed CNC, VMC, HMC, VTL  and other all Machining Process. Chip Trolley is available in various sizes, designs, colours and features according to our clients needs.  We have expertise in design and manufacturing varies trolleys like Chip Conveyor Trolley, Chip Collection Trolley, Tilting Type Trolley, CNC Chip Trolley, Storage Trolleys and many more</p>	
				<h4 style="font-weight:bold;color:#661166;margin-top:0px;">Features:</h4>
				<ul class="sagar">
				<li>Easy to Handle, Maintain & Clean </li>
				<li>Excellent Durability ,Feasible to manufacture different sizes</li>
				<li>Non-Corrosive ,High Efficiency ,Compact Design ,High Tensile Strength & Robustness</li>
				</ul>	
				
			</div>
            </div>
			<div class="row">
			<h4 class="w3-center" style="font-weight:bold;color:#661166;margin-top:0px;">Types of trollies:</h4>
			<br>
			<div class="col-sm-3 w3-center">
				    <img src="static/img/metal-chip-trolley.png" width="70%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Metal chip trolley</h4><br>
			</div>
			<div class="col-sm-3 w3-center">
				    <img src="static/img/production troly.jpg" width="60%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Production trolley</h4><br>
			</div>
			<div class="col-sm-3 w3-center">
				    <img src="static/img/welding machine troly.jpg" width="55%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Welding machine trolley</h4><br>
			</div>
			<div class="col-sm-3 w3-center">
				    <img src="static/img/cable troly.jpg" width="60%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Cable trolley</h4><br>
			</div>
			</div>
			
		  <div class="row">
			<div class="col-sm-3 w3-center">
				    <img src="static/img/working troly.jpg" width="65%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Working trolley</h4><br>
			</div>
			<div class="col-sm-3 w3-center">
				    <img src="static/img/hose troly.jpg" width="62%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Hose trolley</h4><br>
			</div>
			<div class="col-sm-3 w3-center">
				    <img src="static/img/double-gas-cylinder-trolley.jpg" width="60%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Double Gas cylinder trolley</h4><br>
			</div>
			<div class="col-sm-3 w3-center">
				    <img src="static/img/pipe carry troly.jpg" width="40%" style="border:solid 1px green;text-align:center;"><br>
					<h4 class="">Pipe carry trolley</h4><br>
			</div>
			</div>
	</div>	  
		  
		   
		  
		  <div class="panel-footer" style="color:white;background-color:#004d4d;">
		<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 footer" style="border-right:none">
				<u>Quick Links:</u><br>
				<a href="/index" class="flinks" style="color:white">Home</a><br>
				<a href="#" class="flinks" style="color:white">Contact Us</a><br>
				<a href="#" class="flinks" style="color:white">About Us</a>
			</div>
			<div class="col-sm-5 footer" style=""><u>Address:</u><br>
			<p>SPRAJO UNITECH <br>
			Gandharva Excellence &nbsp&nbsp&nbsp&nbsp&nbsp <br>
			Moshi,Pune-412105
	        </p>
			</div>
			<div class="col-sm-5 footer" style="">
			<a href="#" style="color:white;"></u>Contact Us:</u><br></a>
			sales@sprajounitech.com &nbsp&nbsp|&nbsp&nbsp&nbsp <br>
			Call Us:8888819296 &nbsp&nbsp<br>
			Monday-Saturday, 9:00am-6:00pm
			</div>
	
		</div>
	</div>	
	</div>		 
		  
	</div>	  
		  </body>