<!DOCTYPE html>
<html>
	<head>
		<title>Safety products</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="static/css/Home.css">
		<link rel="stylesheet" href="static/w3css/w3.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="static/js/jquery.min.js"></script>
		<script src="static/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<style>	
.gallery {
    border: 1px solid white;
  
}

.gallery:hover {
    border:1px solid red;
}
.affix {
		  top:0;
		  width: 100%;
		  z-index: 9999 !important;
		  height:60px;
	  }
</style>
	</head>	  
	    <body data-spy="scroll" data-target=".navbar" data-offset="50">
	<div>
		<div class="row">
		    <div class="col-sm-3 w3-center">
				 <img src="static/img/logo.jpg" width="50%">
			</div>
            <div class="col-sm-9 w3-left">
				 <img src="static/img/SprajoName.jpg" width="68%" style="padding-top:18px; padding-left:15px;">
			</div>
    
        </div>
	<br>	    
			
	<div>
		<nav class="navbar navbar-inverse "  data-spy="affix" data-offset-top="150" style="margin-bottom:0px">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
		<a class="navbar-brand tabs" href="#" style="color:white;padding:18px;font-size:18px;">MENU</a>
		</div>
		<div class="collapse navbar-collapse menu " id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li class="tabs"><a href="/index" style="color:white; padding:18px;font-size:18px;">
				<span class="glyphicon glyphicon-home"></span></a></li>
				
				<li class="tabs"><a href="/product" style="color:white;padding:18px;font-size:18px;">PRODUCTS</a></li>
				<li class="tabs"><a href="/services" style="color:white;padding:18px;font-size:18px;">SERVICES</a></li>
				<li class="tabs"><a href="#" style="color:white;padding:18px;font-size:18px;">ABOUT US</a></li>
				<li class="tabs"><a href="#" style="color:white;padding:18px;font-size:18px" >CONTACT US</a></li>
                    </ul>
			    </li>
			</ul>
			
		</div>
		</nav>
		</div>	  
		  
		<div class="container-fluid">
            
			<h2 class="w3-center" style="color:#cc0000;"><b>SAFETY PRODUCTS</b></h2><br>
			<p class="sagar" style="padding-left:30px;padding-right:30px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Safety</b> is the state of being "safe", the condition of being protected from harm or other non-desirable outcomes.Safety can be limited in relation to some guarantee or a standard of insurance to the quality and unharmful function of an object or organization.Industrial safety is important as it safeguards human life, especially in high risk areas such as nuclear, aircraft, chemical, oil and gases, and mining industries, where a fatal mistake can be catastrophic. Industrial Safety reduces risks to people, and processes‎.</P>
	<br>
	        <div class="row">
				<h4 style="font-weight:bold;color:#661166;margin-top:0px;padding-left:50px;">Here are some safety products:</h4><br>	
			 <div class="col-sm-6 w3-center">
				    <img src="static/img/saf4.jpg" width="72%" style="border:solid 1px green;text-align:center;"><br>
			</div>
			<div class="col-sm-6 w3-center">
				    <img src="static/img/safety2.jpg" width="77%" style="border:solid 1px green;text-align:center;"><br>
			</div>
			</div>
	<br><br>		
			<div class="row">
			<div class="col-sm-3 w3-center">
				    <img src="static/img/safet.jpg" width="75%" style="border:solid 1px green;text-align:center;"><br>
			</div>
			<div class="col-sm-3 w3-center">
				    <img src="static/img/safe6.jpg" width="85%" style="border:solid 1px green;text-align:center;"><br>
			</div>
			<div class="col-sm-3 w3-center">
				    <img src="static/img/safe2.jpg" width="76%" style="border:solid 1px green;text-align:center;"><br>
			</div>
			<div class="col-sm-3 w3-center">
				    <img src="static/img/safety6.jpg" width="58%" style="border:solid 1px green;text-align:center;"><br>
			</div>
			</div>
				
        </div>
	<br>	
         		
		  
		  
		  
		 	  
		  
		  
		  
		  
		  <div class="panel-footer" style="color:white;background-color:#004d4d;">
		<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 footer" style="border-right:none">
				<u>Quick Links:</u><br>
				<a href="/index" class="flinks" style="color:white">Home</a><br>
				<a href="#" class="flinks" style="color:white">Contact Us</a><br>
				<a href="#" class="flinks" style="color:white">About Us</a>
			</div>
			<div class="col-sm-5 footer" style=""><u>Address:</u><br>
			<p>SPRAJO UNITECH <br>
			Gandharva Excellence &nbsp&nbsp&nbsp&nbsp&nbsp <br>
			Moshi,Pune-412105
	        </p>
			</div>
			<div class="col-sm-5 footer" style="">
			<a href="#" style="color:white;"></u>Contact Us:</u><br></a>
			sales@sprajounitech.com &nbsp&nbsp|&nbsp&nbsp&nbsp <br>
			Call Us:8888819296 &nbsp&nbsp<br>
			Monday-Saturday, 9:00am-6:00pm
			</div>
	
		</div>
	</div>	
	</div>		 
		  
	</div>	  
		  </body>